<!DOCTYPE html>
<html>
    <head>
        <title>Writer's Kiln | Sign In</title>
        <meta name="author" content="CHUA, John Vincent C. & USON, Josh Aaron Khyle S.">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/sign-in.css">
        <script type="text/javascript" src="/js/status.js"></script>

    </head>

    <body>

        {{> navbarvisitor}}

        <div class="container bg-light h-100 shadow">
            <form class="d-flex h-100 w-75 flex-column justify-content-center mx-auto" action="/sign-in" method="post">
                <img src="/images/logo.png" alt="logo" class="mx-auto mb-2" id="main-logo">
                <h1 class="text-center mb-5">SIGN IN</h1>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="username" class="form-control" placeholder="Enter Username" id="username" name="username">
                </div>
                <div class="form-group">
                    <label for="pwd">Password</label>
                    <input type="password" class="form-control" placeholder="Enter Password" id="password" name="password">
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox"> <span>Remember me</span>
                    </label>
                </div>

                <button type="submit" class="btn btn-warning mb-2">Sign In</button>
                <span><a href="/sign-up">Don't have an account yet? Sign up.</a></span>

            </form>
        </div>

    </body>
</html>
