@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&display=swap');

#main-nav {
    background-color: #FFFFFF;
}

body {
    background-image: url("../images/body.jpg");
}

h1 {
    font-family: "Oswald";
    font-weight: 600;
}

#navbar-name {
    font-family: "Oswald";
    color: #231D22;
}

.container-xl {
    height: 100%!important;
    min-height: 130%!important;
    background-color: white;
}

.header {
    height: 18em;
    color: #231D22;
    background-image: url("../../images/header.jpg");
    background-size: cover;
    opacity: 0.9;
    background-position: 0px -50px;
}
a.page-link {
    color: #0D0D0D!important;
}

a {
    color: #0D0D0D;
}

a:hover {
    color: #ffc107;
}

a:active {
    color: #0D0D0D!important;
    background-color: #ffc107!important;
}
