@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&display=swap');

#main-nav {
    background-color: #FFFFFF;
}

#navbar-name {
    font-family: "Oswald";
    color: #231D22;
}
