@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

html, body {
    height: 100%;
}

#main-nav {
    background-color: #FFFFFF;
}

#navbar-name {
    font-family: "Oswald";
    color: #231D22;
}

body {
    background-image: url('../../images/landing.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 0px -50px;
}

#main-header {
    background-color: rgba(245, 255, 255, 0.90);
}

h1{
    font-family: "Oswald";
}
