@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&display=swap');

#main-nav {
    background-color: #FFFFFF;
}

#navbar-name {
    font-family: "Oswald";
    color: #231D22;
}

html, body {
    height: 100%;
}

body {
    background-image: url("../../images/body.jpg");
    background-color: #13151C;
}

h1 {
    font-family: "Oswald";
    font-weight: 600;
}

.container-xl {
    background-color: white;
}

a.page-link {
    color: #0D0D0D!important;
}

a {
    color: #0D0D0D;
}

a:hover {
    color: #ffc107;
}

a.post-link:hover {
    color: #0D0D0D;
}


a.dropdown-item:active {
    color: #0D0D0D!important;
    background-color: #ffc107!important;
}

#prof-name {
  text-align: center;
}

p {
  text-align: justify;
}

/*
.col-4, .col-5, .col-7 {
    border: 1px solid black;
}
*/
.container-xl {
  min-height: 100%;
}

.card-img-top {
  width: 100%!important;
  height: 15vw;
  object-fit: cover;
  border: 1px solid lightgrey;
}

.modal .d-flex img {
    height: 4.5em;
    width: 4.5em;
}

.d-flex img {
  width: 7em;
  height: 7em;
  object-fit: cover;
  border: 1px solid lightgrey;
}

h2, h4.card-title, h4 {
    font-family: "oswald";
}

.f-users:hover, .f-tags:hover {
    background-color: #E8E8E8;
    transition: 0.3s;
}

.col-md-4 {
  height: 7em;
}

.card.mb-3 {
  height: 7em;
}

.follow {
    position: relative;
    z-index: 9999;
}

#follow-user-btn {
    z-index: auto;
}

#card-description {
  width: 100%!important;
  height: 18.5vw;
  object-fit: cover;
  text-align: justify;
}
